body{
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    margin-top: 50px;
    background-image: url('https://images.unsplash.com/photo-1673423050646-38d6d4056a40?fm=jpg&q=60&w=3000&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto;
    padding: 20px;
}

header{
    text-align: center;
    font-size: 25px;
    color: white;
    padding: 10px 20px;
    background: linear-gradient(135deg, #661a5a, #b04aa4);
    border: 2px solid #333;
    border-radius: 5px;
}

button{
    font-family: 'Times New Roman', Times, serif;
    padding: 15px 30px;
    margin: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 20px;
}

#tombol1{
    background-color: #af4c95;
    color: white;
    border: 2px solid #333;
}

#tombol2{
    background-color: #c266aa;
    color: white;
    border: 2px solid #333;
}

.id-card {
    margin: 20px auto;
    width: 450px;
    padding: 20px;
    border: 5px solid #333;
    border-radius: 10px;
    background: linear-gradient(135deg, #fae0f6, #ca6cbf);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: left;
}

.id-card h2 {
    margin: 0;
    font-size: 30px;
    color: #79006f;
}

.id-card p{
    margin: 5px 0;
    font-size: 20px;
}
